@import '../../../styles/helpers.scss';

.table-wrapper {
  &.table-loading {
    tr {
      &:nth-last-child(5) td {
        opacity: 1;
      }

      &:nth-last-child(4) td {
        opacity: 0.8;
      }

      &:nth-last-child(3) td {
        opacity: 0.7;
      }

      &:nth-last-child(2) td {
        opacity: 0.6;
      }

      &:last-child td {
        opacity: 0.5;
      }
    }
  }

  table {
    margin-top: 15px;
    width: 100%;

    tr th {
      font-size: 14px;
      @include fontSemiBold;
      text-align: left;
      color: #76808f;
      padding: 5px 0;

      &.sortable {
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          color: #3f4041;
        }

        &.sort-desc svg path:first-child {
          fill: #f0b90a;
        }

        &.sort-asc svg path:last-child {
          fill: #f0b90a;
        }
      }

      svg {
        position: relative;
        left: -5px;
        top: 5.5px;
        margin-left: 5px;
        font-size: 20px;
      }
    }

    tr td {
      padding: 5px 0;

      &.table-empty {
        padding: 25px 0;
        text-align: center;
        color: #7a8493;
      }
    }
  }
}
